
.report_layout_apdayc_article{
    .atributo {
        margin-bottom: 20px;
    }
    .imagen {
        text-align: center;
        margin-top: 20px;
    }
    img {
        max-width: 100%;
        max-height: 300px;
    }
    h1{
        color: brown;
    }
    h2{
        color:burlywood
    }
}
